[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
