[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/voxpupuli/puppet-nodejs
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/translate"]
	path = modules/translate
	url = https://github.com/puppetlabs/puppetlabs-translate
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/letsencrypt"]
	path = modules/letsencrypt
	url = https://github.com/voxpupuli/puppet-letsencrypt
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "modules/snapd"]
	path = modules/snapd
	url = https://github.com/ethanhs/puppet-snapd
[submodule "modules/augeas_core"]
	path = modules/augeas_core
	url = https://github.com/puppetlabs/puppetlabs-augeas_core
[submodule "modules/host_core"]
	path = modules/host_core
	url = https://github.com/puppetlabs/puppetlabs-host_core
