<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= @fqdn %></title>
</head>
<body>
    <h1><%= @fqdn %></h1>
    <div class="for-humans">
        <h2>Screens</h2>
        <ul>
            <li><a href="/arena.html">Arenas</a></li>
            <li><a href="/outside.html">Outside</a></li>
            <li><a href="/producer.html">Producer</a></li>
            <li><a href="/shepherding.html">Shepherding</a></li>
            <li><a href="/staging.html">Staging</a></li>
        </ul>
        <h2>Other</h2>
        <ul>
            <li><a href="/livestream-overlay/?arena=main">Livestream overlay</a></li>
            <li><a href="/monitor/">System monitoring</a></li>
        </ul>
    </div>
    <div class="for-machines">
        <h2>APIs</h2>
        <ul>
            <li><a href="/comp-api/">Comp API</a></li>
            <li><a href="/stream">Comp API Stream</a></li>
        </ul>
    </div>
</body>
</html>
